In [35]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt 
import seaborn as sns
import plotly.express as px
import plotly.graph_objects as go
import plotly.io as pio

In [40]:
import glob


folders = ["data/2019", "data/2020", "data/2021", "data/2022", "data/2023"]


# read all the files in the folders as pandas dataframe
# create an empty list to store the dataframes
dataframes = []
for folder in folders:
    file_name = "geocoded_merged_sales_fixed.csv"
    data = pd.read_csv(f"{folder}/{file_name}")
    if "temp_unique_id" in data.columns:
        # remove that column
        data.drop('temp_unique_id', axis=1, inplace=True)
    if "temp_unique_id_norm" in data.columns:
        data.drop("temp_unique_id_norm", axis=1, inplace=True)
    real_year = folder.split("/")[-1]
    data["year"] = pd.to_datetime(data["sale_date"]).dt.year
    if len(data["year"].unique()) > 1:
        # drop years that are not the real_year
        data = data[data["year"] == int(real_year)]
    print(data["year"].unique(), len(data["year"]))
    print("min ",data["sale_price"].unique().min())
    print("max ",data["sale_price"].unique().max())
    dataframes.append(data)

[2019] 6199
min  143000.0
max  17757750.0
[2020] 5716
min  175000.0
max  34000000.0
[2021] 7928
min  147960.0
max  21750000.0
[2022] 6427
min  167000.0
max  15500000.0
[2023] 4957
min  200000.0
max  23000000.0

In [41]:
# check if each dataframe have only one year
for df in dataframes:
    print(df["year"].unique())

[2019]
[2020]
[2021]
[2022]
[2023]

In [42]:
# Get first dataframe and sort by sale price
df_sample = dataframes[0]
df_sample = df_sample.sort_values('sale_price', ascending=True)
df_sample[["parcel", "sale_price", 'category']].head()

            parcel  sale_price category
4950  18-01543-008    143000.0    condo
4606  15-00389-006    148900.0    condo
4999  18-06810-092    160000.0    condo
4997  18-06810-130    164000.0    condo
4998  18-06810-090    165000.0    condo

In [43]:
for df in dataframes:
    print(len(df.columns))
    print(df.columns)

28
Index(['sale_date', 'sale_price', 'parcel', 'street_no', 'living_area',
       'category', 'price_per_sf', 'street_name', 'y', 'full_address', 'x',
       'owner_property_count', 'total_room_num', 'half_bathrooms',
       'fireplaces', 'bathrooms', 'exterior_condition', 'year_built',
       'properties', 'interior_condition', 'heat_type', 'kitchens',
       'owner_name', 'bedrooms', 'ac_type', 'parking_spots', 'foundation',
       'year'],
      dtype='object')
28
Index(['sale_date', 'sale_price', 'parcel', 'street_no', 'living_area',
       'category', 'price_per_sf', 'street_name', 'y', 'full_address', 'x',
       'owner_property_count', 'total_room_num', 'half_bathrooms',
       'fireplaces', 'bathrooms', 'exterior_condition', 'year_built',
       'properties', 'interior_condition', 'heat_type', 'kitchens',
       'owner_name', 'bedrooms', 'ac_type', 'parking_spots', 'foundation',
       'year'],
      dtype='object')
28
Index(['sale_date', 'sale_price', 'parcel', 'street_no', 'living_area',
       'category', 'price_per_sf', 'street_name', 'y', 'full_address', 'x',
       'owner_property_count', 'total_room_num', 'half_bathrooms',
       'fireplaces', 'bathrooms', 'exterior_condition', 'year_built',
       'properties', 'interior_condition', 'heat_type', 'kitchens',
       'owner_name', 'bedrooms', 'ac_type', 'parking_spots', 'foundation',
       'year'],
      dtype='object')
28
Index(['sale_date', 'sale_price', 'parcel', 'street_no', 'living_area',
       'category', 'price_per_sf', 'street_name', 'y', 'full_address', 'x',
       'owner_property_count', 'total_room_num', 'half_bathrooms',
       'fireplaces', 'bathrooms', 'exterior_condition', 'year_built',
       'properties', 'interior_condition', 'heat_type', 'kitchens',
       'owner_name', 'bedrooms', 'ac_type', 'parking_spots', 'foundation',
       'year'],
      dtype='object')
28
Index(['sale_date', 'sale_price', 'parcel', 'street_no', 'living_area',
       'category', 'price_per_sf', 'street_name', 'y', 'full_address', 'x',
       'owner_property_count', 'total_room_num', 'half_bathrooms',
       'fireplaces', 'bathrooms', 'exterior_condition', 'year_built',
       'properties', 'interior_condition', 'heat_type', 'kitchens',
       'owner_name', 'bedrooms', 'ac_type', 'parking_spots', 'foundation',
       'year'],
      dtype='object')

In [44]:
print(dataframes)

[       sale_date  sale_price        parcel  street_no  living_area  \
0      6/20/2019    725000.0  01-02114-000       56.0       1532.0
1      6/27/2019    510000.0  01-06784-000      177.0        976.0
2       3/8/2019    650000.0  01-02831-000       73.0       1878.0
3      6/21/2019    445000.0  01-04931-000       15.0        850.0
4       6/4/2019    725200.0  01-05187-010      172.0       1512.0
...          ...         ...           ...        ...          ...
6194   12/4/2019    685000.0  22-03256-000       27.0       2432.0
6195    1/8/2019   1460000.0  22-05360-000      226.0       2880.0
6196   7/10/2019   1062000.0  22-03385-000      673.0       3145.5
6197   10/4/2019    900000.0  22-00618-000      474.0       2250.0
6198  10/18/2019    900000.0  01-04069-000      125.0       3684.0

           category  price_per_sf    street_name          y  \
0     single_family        473.24   BEACHVIEW RD  42.391103
1     single_family        522.54  Bennington ST  42.377267
2     single_family        346.11       EUTAW ST  42.379562
3     single_family        523.53     Everett ST  42.368493
4     single_family        479.63     Everett ST  42.366315
...             ...           ...            ...        ...
6194     two_family        281.66     UPCREST RD  42.353157
6195     two_family        506.94  Washington ST  42.347215
6196     two_family        337.63  Washington ST  42.351769
6197     two_family        400.00     WESTERN AV  42.362035
6198   three_family        244.30     Cottage ST  42.368857

                               full_address  ...  properties  \
0          56  BEACHVIEW RD BOSTON MA 02128  ...         NaN
1        177  BENNINGTON ST BOSTON MA 02128  ...         NaN
2              73  EUTAW ST BOSTON MA 02128  ...         NaN
3            15  EVERETT ST BOSTON MA 02128  ...         NaN
4           172  EVERETT ST BOSTON MA 02128  ...         NaN
...                                     ...  ...         ...
6194         27  UPCREST RD BOSTON MA 02135  ...         NaN
6195  226-228 WASHINGTON ST BOSTON MA 02135  ...         NaN
6196  673-675 WASHINGTON ST BOSTON MA 02135  ...         NaN
6197     474-472 WESTERN AV BOSTON MA 02135  ...         NaN
6198        125  COTTAGE ST BOSTON MA 02128  ...         NaN

      interior_condition       heat_type  kitchens  \
0                Average        Electric       1.0
1                Average  Ht Water/Steam       1.0
2                   Good  Ht Water/Steam       1.0
3                   Good  Forced Hot Air       1.0
4                   Good  Ht Water/Steam       2.0
...                  ...             ...       ...
6194           Excellent  Ht Water/Steam       2.0
6195                Good  Ht Water/Steam       2.0
6196                Good  Ht Water/Steam       2.0
6197             Average  Ht Water/Steam       2.0
6198             Average  Ht Water/Steam       3.0

                        owner_name  bedrooms     ac_type parking_spots  \
0                   SMITH DARRIN E       3.0         NaN           2.0
1                  HUTCHINS DANIEL       2.0         NaN           0.0
2               BAILEY JOHN DANIEL       2.0         NaN           0.0
3                    BANKS CHLOE F       2.0  Central AC           0.0
4                KWOK LIVING TRUST       3.0         NaN           3.0
...                            ...       ...         ...           ...
6194                 STEPHEN JAIME       6.0  Central AC           2.0
6195  226 WASHINGTON NOMINEE TRUST       6.0  Central AC           4.0
6196                    LIU XIAOHU       6.0         NaN           4.0
6197                191 PORTER LLC       6.0         NaN           2.0
6198              125 COTTAGE  LLC      11.0         NaN           0.0

          foundation  year
0              Brick  2019
1     Concrete Block  2019
2              Brick  2019
3              Brick  2019
4           Concrete  2019
...              ...   ...
6194  Concrete Block  2019
6195           Stone  2019
6196           Stone  2019
6197           Stone  2019
6198           Brick  2019

[6199 rows x 28 columns],        sale_date  sale_price        parcel  street_no  living_area  \
0     12/15/2020    670000.0  01-01424-000       33.0       2168.0
1       3/6/2020    487500.0  01-00848-000      523.0       1204.0
2      8/21/2020    475000.0  01-01036-000      692.0       1158.0
3      7/31/2020    560000.0  01-01739-000       47.0        993.0
4       3/9/2020    885000.0  01-01791-000       93.0       2730.0
...          ...         ...           ...        ...          ...
6365   9/24/2020    925000.0  22-03774-000       45.0       2451.0
6366   12/4/2020    970000.0  22-04453-000      104.0       2808.0
6367  11/18/2020    925000.0  22-04408-000       61.0       2250.0
6372    5/7/2020    950000.0  22-05227-000       39.0       3062.0
6376   8/12/2020    960000.0  22-04806-001      560.0       2187.0

           category  price_per_sf    street_name          y  \
0     single_family        309.07   Bayswater ST  42.385357
1     single_family        404.90  Bennington ST  42.381941
2     single_family        410.05  Bennington ST  42.384534
3     single_family        563.95    Boardman ST  42.388422
4     single_family        324.13    Boardman ST  42.389341
...             ...           ...            ...        ...
6365     two_family        377.37    NONANTUM ST  42.349606
6366     two_family        345.44    NONANTUM ST  42.349917
6367     two_family        411.11     Oakland ST  42.351102
6372     two_family        310.21     TRAPELO ST  42.346421
6376     two_family        439.00  Washington ST  42.349825

                               full_address  ...  properties  \
0          33  BAYSWATER ST BOSTON MA 02128  ...         NaN
1        523  BENNINGTON ST BOSTON MA 02128  ...         NaN
2        692  BENNINGTON ST BOSTON MA 02128  ...         NaN
3           47  BOARDMAN ST BOSTON MA 02128  ...         NaN
4           93  BOARDMAN ST BOSTON MA 02128  ...         NaN
...                                     ...  ...         ...
6365        45  NONANTUM ST BOSTON MA 02135  ...         NaN
6366       104  NONANTUM ST BOSTON MA 02135  ...         NaN
6367         61  OAKLAND ST BOSTON MA 02135  ...         NaN
6372         39  TRAPELO ST BOSTON MA 02135  ...         NaN
6376  560-562 WASHINGTON ST BOSTON MA 02135  ...         NaN

      interior_condition       heat_type  kitchens                 owner_name  \
0                Average  Ht Water/Steam       1.0                 HE XIUPING
1                Average  Ht Water/Steam       1.0                CALVO LIDIA
2                Average  Ht Water/Steam       1.0               HEREDIA JUAN
3                   Good  Ht Water/Steam       1.0     ROCHE-LAPUTKA MEGHAN K
4                   Good  Ht Water/Steam       1.0             ANGJELIU ERION
...                  ...             ...       ...                        ...
6365             Average  Ht Water/Steam       2.0               MATTA ABRAHM
6366             Average  Ht Water/Steam       2.0            LEUNG RAYMOND K
6367             Average  Ht Water/Steam       2.0               YEE HONG DUC
6372                Fair  Ht Water/Steam       2.0                SILBER SARA
6376             Average  Ht Water/Steam       2.0  560 WASHINGTON STREET LLC

      bedrooms      ac_type parking_spots      foundation  year
0          4.0  Ductless AC           3.0           Brick  2020
1          2.0          NaN           0.0           Brick  2020
2          3.0          NaN           0.0        Concrete  2020
3          3.0          NaN           2.0  Concrete Block  2020
4          3.0          NaN           3.0        Concrete  2020
...        ...          ...           ...             ...   ...
6365       6.0          NaN           0.0           Stone  2020
6366       5.0          NaN           4.0        Concrete  2020
6367       4.0          NaN           4.0        Concrete  2020
6372       6.0          NaN           3.0  Concrete Block  2020
6376       4.0          NaN           3.0           Stone  2020

[5716 rows x 28 columns],        sale_date  sale_price        parcel  street_no  living_area  \
0      6/23/2021    515000.0  01-06507-000       91.0       1136.0
1       4/6/2021    499000.0  01-06516-000      111.0       1026.0
2     10/18/2021    425000.0  01-01037-000      690.0        904.0
3     11/22/2021   1800000.0  01-01756-000       26.0       5630.0
4     12/30/2021    365000.0  01-00337-000      408.0        928.0
...          ...         ...           ...        ...          ...
7923    6/8/2021   1255000.0  22-04675-000      506.0       3000.0
7924   11/5/2021   1085711.0  22-05326-000        1.0       2995.0
7925   5/25/2021   1255800.0  22-04954-000       41.0       3036.0
7926   1/15/2021    825000.0  22-00079-000       28.0       1486.0
7927   2/17/2021    850000.0  22-05440-000       20.0       2722.0

           category  price_per_sf    street_name          y  \
0     single_family        453.35  Bennington ST  42.376192
1     single_family        486.35  Bennington ST  42.376420
2     single_family        469.92  Bennington ST  42.384506
3     single_family        319.72       Breed ST  42.387838
4     single_family        393.53      Bremen ST  42.378656
...             ...           ...            ...        ...
7923     two_family        418.33  Washington ST  42.348959
7924     two_family        362.48  WILLOUGHBY ST  42.347156
7925     two_family        413.64   WILTSHIRE RD  42.344140
7926     two_family        555.18      Windom ST  42.360295
7927     two_family        312.32     WINSHIP ST  42.347907

                            full_address  ...  properties  interior_condition  \
0      91  BENNINGTON ST BOSTON MA 02128  ...         NaN                Good
1     111  BENNINGTON ST BOSTON MA 02128  ...         NaN                Good
2     690  BENNINGTON ST BOSTON MA 02128  ...         NaN             Average
3           26  BREED ST BOSTON MA 02128  ...         NaN                Good
4         408  BREMEN ST BOSTON MA 02128  ...         NaN                Fair
...                                  ...  ...         ...                 ...
7923  506  WASHINGTON ST BOSTON MA 02135  ...         NaN                Good
7924   1-3 WILLOUGHBY ST BOSTON MA 02135  ...         NaN             Average
7925  41-43 WILTSHIRE RD BOSTON MA 02135  ...         NaN                Good
7926       28  WINDOM ST BOSTON MA 02134  ...         NaN             Average
7927   20-20A WINSHIP ST BOSTON MA 02135  ...         NaN                Good

           heat_type  kitchens               owner_name  bedrooms  \
0     Forced Hot Air       1.0          MULLER BENJAMIN       2.0
1     Ht Water/Steam       1.0           LAICHTER TRACI       2.0
2     Forced Hot Air       1.0          ZAMORA CINTIA J       3.0
3     Ht Water/Steam       1.0   CABOOSE PROPERTIES LLC       5.0
4     Forced Hot Air       1.0              RIVAS BRIAN       3.0
...              ...       ...                      ...       ...
7923  Ht Water/Steam       2.0             HONH CHHAYNA       7.0
7924  Ht Water/Steam       2.0            LIN JIN XIANG       7.0
7925  Ht Water/Steam       2.0            SMITH ABIGAIL       6.0
7926  Ht Water/Steam       2.0  PESTOURIE MEREDITH DOST       4.0
7927  Ht Water/Steam       2.0              LIU  XIAOHU       4.0

          ac_type parking_spots      foundation  year
0      Central AC           0.0           Brick  2021
1             NaN           0.0           Stone  2021
2             NaN           0.0        Concrete  2021
3             NaN           4.0           Brick  2021
4             NaN           0.0        Concrete  2021
...           ...           ...             ...   ...
7923          NaN           3.0  Concrete Block  2021
7924          NaN           4.0        Concrete  2021
7925   Central AC           4.0           Stone  2021
7926  Ductless AC           2.0           Stone  2021
7927          NaN           2.0           Stone  2021

[7928 rows x 28 columns],        sale_date  sale_price        parcel  street_no  living_area  \
0       1/5/2022    390000.0  01-06107-000        3.0       1200.0
1      8/10/2022    970000.0  01-01426-000       41.0       2017.0
2      6/17/2022    609000.0  01-03430-000        4.0       1107.0
3     12/29/2022    524900.0  01-01040-000      684.0        988.0
4       8/3/2022    690000.0  01-01739-000       47.0       1713.0
...          ...         ...           ...        ...          ...
6422    8/5/2022    925000.0  22-03697-000        7.0       2772.0
6423    1/5/2022   1385000.0  22-03256-000       27.0       2432.0
6424   7/29/2022   1300000.0  22-03674-000      703.0       3824.0
6425    9/2/2022   1000000.0  22-01483-000       13.0       2340.0
6426  12/16/2022   1275000.0  22-00619-000      470.0       2981.0

           category  price_per_sf    street_name          y  \
0     single_family        325.00      APPIAN PL  42.375737
1     single_family        480.91   Bayswater ST  42.385109
2     single_family        549.99      Bennet PL  42.380951
3     single_family        531.06  Bennington ST  42.384421
4     single_family        402.92    Boardman ST  42.388422
...             ...           ...            ...        ...
6422     two_family        333.69     TIP TOP ST  42.351003
6423     two_family        569.49     UPCREST RD  42.353157
6424     two_family        339.95  Washington ST  42.352649
6425     two_family        427.35       WEITZ ST  42.361052
6426     two_family        427.74     WESTERN AV  42.362035

                               full_address  ...  properties  \
0              3  APPIAN PL BOSTON MA 02128  ...         NaN
1          41  BAYSWATER ST BOSTON MA 02128  ...         NaN
2              4  BENNET PL BOSTON MA 02128  ...         NaN
3        684  BENNINGTON ST BOSTON MA 02128  ...         NaN
4           47  BOARDMAN ST BOSTON MA 02128  ...         NaN
...                                     ...  ...         ...
6422          7  TIP TOP ST BOSTON MA 02135  ...         NaN
6423         27  UPCREST RD BOSTON MA 02135  ...         NaN
6424  703-705 WASHINGTON ST BOSTON MA 02135  ...         NaN
6425         13-15 WEITZ ST BOSTON MA 02135  ...         NaN
6426        470  WESTERN AV BOSTON MA 02135  ...         NaN

      interior_condition       heat_type  kitchens               owner_name  \
0                Average  Ht Water/Steam       1.0  LAMOTIL INVESTMENTS LLC
1                   Good  Ht Water/Steam       1.0    SHAUGHNESSY CHRISTINE
2                   Good  Ht Water/Steam       1.0   HORRELL MICHAEL HOSEPH
3                   Good  Ht Water/Steam       1.0           FIGUEREDO ERIC
4                   Good  Ht Water/Steam       1.0   ROCHE-LAPUTKA MEGHAN K
...                  ...             ...       ...                      ...
6422             Average  Ht Water/Steam       2.0       LACHAGARI PRASANNA
6423           Excellent  Ht Water/Steam       2.0            STEPHEN JAIME
6424             Average  Ht Water/Steam       2.0       705 WASHINGTON LLC
6425             Average  Ht Water/Steam       2.0    MACDANIEL AARON SCOTT
6426             Average        Electric       2.0      470 WESTERN AVE LLC

      bedrooms      ac_type parking_spots      foundation  year
0          2.0          NaN           0.0           Brick  2022
1          3.0          NaN           3.0           Brick  2022
2          3.0          NaN           0.0           Brick  2022
3          2.0  Ductless AC           0.0           Brick  2022
4          3.0          NaN           2.0  Concrete Block  2022
...        ...          ...           ...             ...   ...
6422       4.0          NaN           0.0           Stone  2022
6423       6.0   Central AC           2.0  Concrete Block  2022
6424      10.0          NaN           2.0           Stone  2022
6425       7.0          NaN           0.0           Stone  2022
6426       5.0          NaN           2.0           Stone  2022

[6427 rows x 28 columns],        sale_date  sale_price        parcel  street_no  living_area  \
0      3/31/2023    600000.0  01-01789-000      141.0       1350.0
1      5/26/2023    600000.0  01-00931-000      606.0       1401.0
2      4/28/2023    649900.0  01-01041-000      682.0       1654.0
3      5/31/2023    619000.0  01-01521-001     1203.0       1568.0
4      3/31/2023    400000.0  01-04320-000      172.0       1780.0
...          ...         ...           ...        ...          ...
4952  11/27/2023   1000000.0  22-04490-000       12.0       2814.0
4953   9/28/2023    875000.0  22-03741-000      135.0       2325.0
4954   4/14/2023    900000.0  22-03853-000       48.0       2208.0
4955   3/30/2023    875000.0  22-04322-000       96.0       2268.0
4956  12/21/2023   1095000.0  22-03588-000       40.0       2506.0

           category  price_per_sf      street_name          y  \
0     single_family        444.44        ASHLEY ST  42.389219
1     single_family        428.27    Bennington ST  42.383188
2     single_family        392.82    Bennington ST  42.384396
3     single_family        394.77    Bennington ST  42.389161
4     single_family        224.72        Cowper ST  42.382003
...             ...           ...              ...        ...
4952     two_family        355.37      NONANTUM ST  42.350199
4953     two_family        376.34      NONANTUM ST  42.350243
4954     two_family        407.61    OAK SQUARE AV  42.351469
4955     two_family        385.80       Parsons ST  42.353620
4956     two_family        436.95  PRESENTATION RD  42.354111

                               full_address  ...  properties  \
0            141  ASHLEY ST BOSTON MA 02128  ...         NaN
1     606-608 BENNINGTON ST BOSTON MA 02128  ...         NaN
2        682  BENNINGTON ST BOSTON MA 02128  ...         NaN
3       1203  BENNINGTON ST BOSTON MA 02128  ...         NaN
4            172  COWPER ST BOSTON MA 02128  ...         NaN
...                                     ...  ...         ...
4952        12  NONANTUM ST BOSTON MA 02135  ...         NaN
4953    135-137 NONANTUM ST BOSTON MA 02135  ...         NaN
4954      48  OAK SQUARE AV BOSTON MA 02135  ...         NaN
4955       96-98 PARSONS ST BOSTON MA 02135  ...         NaN
4956  40-42 PRESENTATION RD BOSTON MA 02135  ...         NaN

      interior_condition       heat_type  kitchens                owner_name  \
0                Average        Electric       2.0            141 ASHLEY LLC
1                Average  Ht Water/Steam       1.0        OLIVEIRA GABRIEL A
2                   Good  Forced Hot Air       1.0         MURALLES INGRID J
3                Average  Forced Hot Air       1.0     MORALES CARDONA DIEGO
4                   Fair  Ht Water/Steam       2.0           TEMPO L.J. CORP
...                  ...             ...       ...                       ...
4952                Good  Forced Hot Air       2.0           12 NONANTUM LLC
4953             Average      Space Heat       2.0         MCCARTHY PATRICIA
4954             Average  Forced Hot Air       2.0  48 OAK SQUARE AVENUE LLC
4955             Average  Ht Water/Steam       2.0          CHOWDHURY ISMAIL
4956             Average  Ht Water/Steam       2.0     WANG/REN FAMILY TRUST

      bedrooms      ac_type parking_spots      foundation  year
0          2.0          NaN           3.0        Concrete  2023
1          4.0          NaN           2.0           Stone  2023
2          3.0   Central AC           0.0           Brick  2023
3          4.0   Central AC           0.0           Brick  2023
4          4.0          NaN           0.0           Brick  2023
...        ...          ...           ...             ...   ...
4952       6.0  Ductless AC           2.0           Stone  2023
4953       5.0          NaN           0.0           Stone  2023
4954       5.0          NaN           3.0           Stone  2023
4955       4.0          NaN           4.0  Concrete Block  2023

In [45]:
# merge all the dataframes
data = pd.concat(dataframes)

# save the merged dataframe
data.to_csv("merged_geocoded_enriched_merged_sales.csv", index=False)

In [46]:
data[data["x"].isna() | data["y"].isna()]

Empty DataFrame
Columns: [sale_date, sale_price, parcel, street_no, living_area, category, price_per_sf, street_name, y, full_address, x, owner_property_count, total_room_num, half_bathrooms, fireplaces, bathrooms, exterior_condition, year_built, properties, interior_condition, heat_type, kitchens, owner_name, bedrooms, ac_type, parking_spots, foundation, year]
Index: []

[0 rows x 28 columns]

In [47]:
# check rows that have None for bedrooms
data[data["bedrooms"].isna() | data["living_area"].isna()][["bedrooms", "living_area"]]

      bedrooms  living_area
13         NaN       1580.0
15         NaN       1145.0
17         NaN       1152.0
161        NaN       2488.0
227        NaN       2085.0
...        ...          ...
1028       NaN       3402.0
1077       NaN       4128.0
1194       NaN       3076.0
6092       NaN       3435.0
6358       NaN       2674.0

[208 rows x 2 columns]

In [48]:
data["living_area"]

0       1532.0
1        976.0
2       1878.0
3        850.0
4       1512.0
         ...
4952    2814.0
4953    2325.0
4954    2208.0
4955    2268.0
4956    2506.0
Name: living_area, Length: 31227, dtype: float64

In [49]:
data[data["living_area"].isna()]

Empty DataFrame
Columns: [sale_date, sale_price, parcel, street_no, living_area, category, price_per_sf, street_name, y, full_address, x, owner_property_count, total_room_num, half_bathrooms, fireplaces, bathrooms, exterior_condition, year_built, properties, interior_condition, heat_type, kitchens, owner_name, bedrooms, ac_type, parking_spots, foundation, year]
Index: []

[0 rows x 28 columns]

In [50]:
data[data["sale_price"].isna()]

Empty DataFrame
Columns: [sale_date, sale_price, parcel, street_no, living_area, category, price_per_sf, street_name, y, full_address, x, owner_property_count, total_room_num, half_bathrooms, fireplaces, bathrooms, exterior_condition, year_built, properties, interior_condition, heat_type, kitchens, owner_name, bedrooms, ac_type, parking_spots, foundation, year]
Index: []

[0 rows x 28 columns]

In [53]:
# create a new df that has no None for bedrooms 
data_no_na = data[data["bedrooms"].notna()]

print(data_no_na.shape)

(31019, 28)

In [54]:
# Step 1: Calculate the median and MAD
median = data_no_na['sale_price'].median()
mad = np.median(np.abs(data_no_na['sale_price'] - median))

# Step 2: Calculate Modified Z-scores
data_no_na['modified_z'] = 0.6745 * (data_no_na['sale_price'] - median) / mad

# Step 3: Filter out outliers
threshold = 3.5
data_no_na_no_outliers = data_no_na[np.abs(data_no_na['modified_z']) <= threshold].copy()

# check how many rows are removed
print(data_no_na.shape[0] - data_no_na_no_outliers.shape[0])

2539

/var/folders/wy/50c5sv7n4wsfhhww_wwjz2tr0000gn/T/ipykernel_91298/776181895.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_no_na['modified_z'] = 0.6745 * (data_no_na['sale_price'] - median) / mad

In [55]:
# Optional: Drop the helper column
data_no_na_no_outliers.drop(columns='modified_z', inplace=True)

print(data_no_na_no_outliers)

       sale_date  sale_price        parcel  street_no  living_area  \
0      6/20/2019    725000.0  01-02114-000       56.0       1532.0
1      6/27/2019    510000.0  01-06784-000      177.0        976.0
2       3/8/2019    650000.0  01-02831-000       73.0       1878.0
3      6/21/2019    445000.0  01-04931-000       15.0        850.0
4       6/4/2019    725200.0  01-05187-010      172.0       1512.0
...          ...         ...           ...        ...          ...
4952  11/27/2023   1000000.0  22-04490-000       12.0       2814.0
4953   9/28/2023    875000.0  22-03741-000      135.0       2325.0
4954   4/14/2023    900000.0  22-03853-000       48.0       2208.0
4955   3/30/2023    875000.0  22-04322-000       96.0       2268.0
4956  12/21/2023   1095000.0  22-03588-000       40.0       2506.0

           category  price_per_sf      street_name          y  \
0     single_family        473.24     BEACHVIEW RD  42.391103
1     single_family        522.54    Bennington ST  42.377267
2     single_family        346.11         EUTAW ST  42.379562
3     single_family        523.53       Everett ST  42.368493
4     single_family        479.63       Everett ST  42.366315
...             ...           ...              ...        ...
4952     two_family        355.37      NONANTUM ST  42.350199
4953     two_family        376.34      NONANTUM ST  42.350243
4954     two_family        407.61    OAK SQUARE AV  42.351469
4955     two_family        385.80       Parsons ST  42.353620
4956     two_family        436.95  PRESENTATION RD  42.354111

                               full_address  ...  properties  \
0          56  BEACHVIEW RD BOSTON MA 02128  ...         NaN
1        177  BENNINGTON ST BOSTON MA 02128  ...         NaN
2              73  EUTAW ST BOSTON MA 02128  ...         NaN
3            15  EVERETT ST BOSTON MA 02128  ...         NaN
4           172  EVERETT ST BOSTON MA 02128  ...         NaN
...                                     ...  ...         ...
4952        12  NONANTUM ST BOSTON MA 02135  ...         NaN
4953    135-137 NONANTUM ST BOSTON MA 02135  ...         NaN
4954      48  OAK SQUARE AV BOSTON MA 02135  ...         NaN
4955       96-98 PARSONS ST BOSTON MA 02135  ...         NaN
4956  40-42 PRESENTATION RD BOSTON MA 02135  ...         NaN

      interior_condition       heat_type  kitchens                owner_name  \
0                Average        Electric       1.0            SMITH DARRIN E
1                Average  Ht Water/Steam       1.0           HUTCHINS DANIEL
2                   Good  Ht Water/Steam       1.0        BAILEY JOHN DANIEL
3                   Good  Forced Hot Air       1.0             BANKS CHLOE F
4                   Good  Ht Water/Steam       2.0         KWOK LIVING TRUST
...                  ...             ...       ...                       ...
4952                Good  Forced Hot Air       2.0           12 NONANTUM LLC
4953             Average      Space Heat       2.0         MCCARTHY PATRICIA
4954             Average  Forced Hot Air       2.0  48 OAK SQUARE AVENUE LLC
4955             Average  Ht Water/Steam       2.0          CHOWDHURY ISMAIL
4956             Average  Ht Water/Steam       2.0     WANG/REN FAMILY TRUST

      bedrooms      ac_type parking_spots      foundation  year
0          3.0          NaN           2.0           Brick  2019
1          2.0          NaN           0.0  Concrete Block  2019
2          2.0          NaN           0.0           Brick  2019
3          2.0   Central AC           0.0           Brick  2019
4          3.0          NaN           3.0        Concrete  2019
...        ...          ...           ...             ...   ...
4952       6.0  Ductless AC           2.0           Stone  2023
4953       5.0          NaN           0.0           Stone  2023
4954       5.0          NaN           3.0           Stone  2023
4955       4.0          NaN           4.0  Concrete Block  2023
4956       4.0          NaN           7.0        Concrete  2023

[28480 rows x 28 columns]

In [56]:
# save the new df
data_no_na.to_csv("sales_boston_geocoded.csv", index=False)

In [57]:
data_no_na[data_no_na["sale_price"].isna() | data_no_na["bedrooms"].isna() | data_no_na["living_area"].isna()]

Empty DataFrame
Columns: [sale_date, sale_price, parcel, street_no, living_area, category, price_per_sf, street_name, y, full_address, x, owner_property_count, total_room_num, half_bathrooms, fireplaces, bathrooms, exterior_condition, year_built, properties, interior_condition, heat_type, kitchens, owner_name, bedrooms, ac_type, parking_spots, foundation, year, modified_z]
Index: []

[0 rows x 29 columns]