In [6]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import plotly.graph_objects as go
import plotly.io as pio

In [9]:
import glob


folders = ["data/2019", "data/2020", "data/2021", "data/2022", "data/2023"]


# read all the files in the folders as pandas dataframe
# create an empty list to store the dataframes
dataframes = []
for folder in folders:
    file_name = "geocoded_enriched_merged_sales.csv"
    data = pd.read_csv(f"{folder}/{file_name}")
    # add year column to the dataframe
    data["year"] = folder.split("/")[-1]
    dataframes.append(data)

In [10]:
print(dataframes)

[     unit street_name   sale_date        parcel       category sale_price  \
0      RD   BEACHVIEW   6/20/2019  01-02114-000  single_family    725,000
1      ST  Bennington   6/27/2019  01-06784-000  single_family    510,000
2      ST       EUTAW    3/8/2019  01-02831-000  single_family    650,000
3      ST     Everett   6/21/2019  01-04931-000  single_family    445,000
4      ST     Everett    6/4/2019  01-05187-010  single_family    725,200
...   ...         ...         ...           ...            ...        ...
5968   ST     SHANNON   9/17/2019  22-05357-000     two_family          7
5969   RD     UPCREST   12/4/2019  22-03256-000     two_family          6
5970   ST  Washington    1/8/2019  22-05360-000     two_family  1,460,000
5971   AV     WESTERN   10/4/2019  22-00618-000     two_family          9
5972   ST     Cottage  10/18/2019  01-04069-000   three_family    900,000

      street_no price_per_sf living_area  total_room_num  ...  year_built  \
0            56       473.24       1,532             7.0  ...        1930
1           177       522.54         976             6.0  ...        1920
2            73       346.11       1,878             7.0  ...        1880
3            15       523.53         850             4.0  ...        1861
4           172       479.63       1,512             7.0  ...        2003
...         ...          ...         ...             ...  ...         ...
5968         24         1570      00,000             7.0  ...        1891
5969         27         2432      85,000            10.0  ...        1930
5970        226       506.94        2880            14.0  ...        1925
5971        474         2250      00,000            10.0  ...        1925
5972        125       244.30       3,684            20.0  ...        1905

      exterior_condition      foundation  \
0                   Good           Brick
1                Average  Concrete Block
2                Average           Brick
3                Average           Brick
4                   Good        Concrete
...                  ...             ...
5968             Average           Stone
5969                Good  Concrete Block
5970             Average           Stone
5971                Good           Stone
5972             Average           Brick

                               full_address                    owner_name  \
0          56  BEACHVIEW RD BOSTON MA 02128                SMITH DARRIN E
1        177  BENNINGTON ST BOSTON MA 02128               HUTCHINS DANIEL
2              73  EUTAW ST BOSTON MA 02128            BAILEY JOHN DANIEL
3            15  EVERETT ST BOSTON MA 02128                 BANKS CHLOE F
4           172  EVERETT ST BOSTON MA 02128             KWOK LIVING TRUST
...                                     ...                           ...
5968         24  SHANNON ST BOSTON MA 02135             SALADINO ANTONINO
5969         27  UPCREST RD BOSTON MA 02135                 STEPHEN JAIME
5970  226-228 WASHINGTON ST BOSTON MA 02135  226 WASHINGTON NOMINEE TRUST
5971     474-472 WESTERN AV BOSTON MA 02135                191 PORTER LLC
5972        125  COTTAGE ST BOSTON MA 02128              125 COTTAGE  LLC

     owner_property_count          x          y  properties  year
0                     1.0 -71.004060  42.391103         NaN  2019
1                     1.0 -71.032457  42.377267         NaN  2019
2                     1.0 -71.036596  42.379562         NaN  2019
3                     1.0 -71.037049  42.368493         NaN  2019
4                     2.0 -71.031925  42.366315         NaN  2019
...                   ...        ...        ...         ...   ...
5968                  1.0 -71.149506  42.346703         NaN  2019
5969                  2.0 -71.164574  42.353157         NaN  2019
5970                  1.0 -71.148713  42.347215         NaN  2019
5971                  2.0 -71.142615  42.362035         NaN  2019
5972                  1.0 -71.034052  42.368857         NaN  2019

[5973 rows x 29 columns],      unit street_name   sale_date        parcel       category sale_price  \
0      ST   Bayswater  12/15/2020  01-01424-000  single_family          6
1      ST  Bennington    3/6/2020  01-00848-000  single_family          4
2      ST  Bennington   8/21/2020  01-01036-000  single_family          4
3      ST    Boardman   7/31/2020  01-01739-000  single_family          5
4      ST    Boardman    3/9/2020  01-01791-000  single_family          8
...   ...         ...         ...           ...            ...        ...
6368   RD     UPCREST   12/4/2019  22-03256-000     two_family          6
6369   ST  Washington    1/8/2019  22-05360-000     two_family  1,460,000
6370   ST  Washington   8/12/2020  22-04806-001     two_family          9
6371   ST  Washington   7/10/2019  22-03385-000     two_family  1,062,000
6372   AV     WESTERN   10/4/2019  22-00618-000     two_family          9

      street_no price_per_sf living_area  total_room_num  ...  year_built  \
0            33        2,168      70,000            12.0  ...        1910
1           523        1,204      87,500             5.0  ...        1910
2           692        1,158      75,000             6.0  ...        1920
3            47          993      60,000             7.0  ...        1950
4            93        2,730      85,000             9.0  ...        1963
...         ...          ...         ...             ...  ...         ...
6368         27        2,432      85,000            10.0  ...        1930
6369        226       506.94       2,880            14.0  ...        1925
6370        560        2,187      60,000            10.0  ...        1900
6371        673       337.63       3,146            12.0  ...        1920
6372        474        2,250      00,000            10.0  ...        1925

      exterior_condition      foundation  \
0                Average           Brick
1                Average           Brick
2                   Good        Concrete
3                Average  Concrete Block
4                Average        Concrete
...                  ...             ...
6368                Good  Concrete Block
6369             Average           Stone
6370             Average           Stone
6371             Average           Stone
6372                Good           Stone

                               full_address                    owner_name  \
0          33  BAYSWATER ST BOSTON MA 02128                    HE XIUPING
1        523  BENNINGTON ST BOSTON MA 02128                   CALVO LIDIA
2        692  BENNINGTON ST BOSTON MA 02128                  HEREDIA JUAN
3           47  BOARDMAN ST BOSTON MA 02128        ROCHE-LAPUTKA MEGHAN K
4           93  BOARDMAN ST BOSTON MA 02128                ANGJELIU ERION
...                                     ...                           ...
6368         27  UPCREST RD BOSTON MA 02135                 STEPHEN JAIME
6369  226-228 WASHINGTON ST BOSTON MA 02135  226 WASHINGTON NOMINEE TRUST
6370  560-562 WASHINGTON ST BOSTON MA 02135     560 WASHINGTON STREET LLC
6371  673-675 WASHINGTON ST BOSTON MA 02135                    LIU XIAOHU
6372     474-472 WESTERN AV BOSTON MA 02135                191 PORTER LLC

     owner_property_count          x          y  properties  year
0                     4.0 -71.005283  42.385357         NaN  2020
1                     1.0 -71.020031  42.381941         NaN  2020
2                     1.0 -71.013283  42.384534         NaN  2020
3                     2.0 -71.009669  42.388422         NaN  2020
4                     4.0 -71.010819  42.389341         NaN  2020
...                   ...        ...        ...         ...   ...
6368                  2.0 -71.164574  42.353157         NaN  2020
6369                  1.0 -71.148713  42.347215         NaN  2020
6370                  1.0 -71.164627  42.349825         NaN  2020
6371                  1.0 -71.170715  42.351769         NaN  2020
6372                  2.0 -71.142615  42.362035         NaN  2020

[6373 rows x 29 columns],      unit street_name   sale_date        parcel       category sale_price  \
0      ST  Bennington   6/23/2021  01-06507-000  single_family    515,000
1      ST  Bennington    4/6/2021  01-06516-000  single_family    499,000
2      ST  Bennington  10/18/2021  01-01037-000  single_family    425,000
3      ST       Breed  11/22/2021  01-01756-000  single_family  1,800,000
4      ST      Bremen  12/30/2021  01-00337-000  single_family    365,000
...   ...         ...         ...           ...            ...        ...
7919   ST  Washington    6/8/2021  22-04675-000     two_family  1,255,000
7920   ST  WILLOUGHBY   11/5/2021  22-05326-000     two_family  1,085,711
7921   RD   WILTSHIRE   5/25/2021  22-04954-000     two_family  1,255,800
7922   ST      Windom   1/15/2021  22-00079-000     two_family    825,000
7923   ST     WINSHIP   2/17/2021  22-05440-000     two_family    850,000

      street_no price_per_sf living_area  total_room_num  ...  year_built  \
0            91       453.35       1,136             5.0  ...        1900
1           111       486.35       1,026             5.0  ...        1900
2           690       469.92         904             6.0  ...        1900
3            26       319.72       5,630            17.0  ...        1915
4           408       393.53         928             5.0  ...        1915
...         ...          ...         ...             ...  ...         ...
7919        506       418.33       3,000            13.0  ...        1925
7920          1       362.48       2,995            13.0  ...        1920
7921         41       413.64       3,036            12.0  ...        1940
7922         28       555.18       1,486             9.0  ...        1900
7923         20       312.32       2,722            12.0  ...        1910

      exterior_condition      foundation                        full_address  \
0                Average           Brick   91  BENNINGTON ST BOSTON MA 02128
1                   Good           Stone  111  BENNINGTON ST BOSTON MA 02128
2                Average        Concrete  690  BENNINGTON ST BOSTON MA 02128
3                Average           Brick        26  BREED ST BOSTON MA 02128
4                Average        Concrete      408  BREMEN ST BOSTON MA 02128
...                  ...             ...                                 ...
7919             Average  Concrete Block  506  WASHINGTON ST BOSTON MA 02135
7920             Average        Concrete   1-3 WILLOUGHBY ST BOSTON MA 02135
7921             Average           Stone  41-43 WILTSHIRE RD BOSTON MA 02135
7922             Average           Stone       28  WINDOM ST BOSTON MA 02134
7923             Average           Stone   20-20A WINSHIP ST BOSTON MA 02135

                   owner_name owner_property_count          x          y  \
0             MULLER BENJAMIN                  1.0 -71.035345  42.376192
1              LAICHTER TRACI                  1.0 -71.034726  42.376420
2             ZAMORA CINTIA J                  1.0 -71.013368  42.384506
3      CABOOSE PROPERTIES LLC                  5.0 -71.006611  42.387838
4                 RIVAS BRIAN                  4.0 -71.027572  42.378656
...                       ...                  ...        ...        ...
7919             HONH CHHAYNA                  1.0 -71.162265  42.348959
7920            LIN JIN XIANG                  1.0 -71.160490  42.347156
7921            SMITH ABIGAIL                  2.0 -71.155598  42.344140
7922  PESTOURIE MEREDITH DOST                  1.0 -71.124149  42.360295
7923              LIU  XIAOHU                  1.0 -71.151279  42.347907

      properties  year
0            NaN  2021
1            NaN  2021
2            NaN  2021
3            NaN  2021
4            NaN  2021
...          ...   ...
7919         NaN  2021
7920         NaN  2021
7921         NaN  2021
7922         NaN  2021
7923         NaN  2021

[7924 rows x 29 columns],      unit street_name   sale_date        parcel       category sale_price  \
0      PL      APPIAN    1/5/2022  01-06107-000  single_family    390,000
1      ST   Bayswater   8/10/2022  01-01426-000  single_family    970,000
2      PL      Bennet   6/17/2022  01-03430-000  single_family    609,000
3      ST  Bennington  12/29/2022  01-01040-000  single_family    524,900
4      ST    Boardman    8/3/2022  01-01739-000  single_family    690,000
...   ...         ...         ...           ...            ...        ...
6419   ST     TIP TOP    8/5/2022  22-03697-000     two_family          9
6420   RD     UPCREST    1/5/2022  22-03256-000     two_family          1
6421   ST  Washington   7/29/2022  22-03674-000     two_family          1
6422   ST       WEITZ    9/2/2022  22-01483-000     two_family          1
6423   AV     WESTERN  12/16/2022  22-00619-000     two_family  1,275,000

      street_no price_per_sf living_area  total_room_num  ...  year_built  \
0             3       325.00       1,200             7.0  ...        1880
1            41       480.91       2,017             7.0  ...        1910
2             4       549.99       1,107             6.0  ...        1890
3           684       531.06         988             5.0  ...        1900
4            47       402.92       1,713             7.0  ...        1950
...         ...          ...         ...             ...  ...         ...
6419          7        2,772      25,000            10.0  ...        1925
6420         27        2,432    ,385,000            10.0  ...        1930
6421        703        3,824    ,300,000            17.0  ...        1910
6422         13        2,340    ,000,000            10.0  ...        1900
6423        470       427.74       2,981            12.0  ...        1920

      exterior_condition      foundation  \
0                Average           Brick
1                Average           Brick
2                Average           Brick
3                Average           Brick
4                Average  Concrete Block
...                  ...             ...
6419             Average           Stone
6420                Good  Concrete Block
6421             Average           Stone
6422             Average           Stone
6423             Average           Stone

                               full_address               owner_name  \
0              3  APPIAN PL BOSTON MA 02128  LAMOTIL INVESTMENTS LLC
1          41  BAYSWATER ST BOSTON MA 02128    SHAUGHNESSY CHRISTINE
2              4  BENNET PL BOSTON MA 02128   HORRELL MICHAEL HOSEPH
3        684  BENNINGTON ST BOSTON MA 02128           FIGUEREDO ERIC
4           47  BOARDMAN ST BOSTON MA 02128   ROCHE-LAPUTKA MEGHAN K
...                                     ...                      ...
6419          7  TIP TOP ST BOSTON MA 02135       LACHAGARI PRASANNA
6420         27  UPCREST RD BOSTON MA 02135            STEPHEN JAIME
6421  703-705 WASHINGTON ST BOSTON MA 02135       705 WASHINGTON LLC
6422         13-15 WEITZ ST BOSTON MA 02135    MACDANIEL AARON SCOTT
6423        470  WESTERN AV BOSTON MA 02135      470 WESTERN AVE LLC

     owner_property_count          x          y  properties  year
0                     2.0 -71.035721  42.375737         NaN  2022
1                     1.0 -71.005125  42.385109         NaN  2022
2                     1.0 -71.038451  42.380951         NaN  2022
3                     1.0 -71.013623  42.384421         NaN  2022
4                     2.0 -71.009669  42.388422         NaN  2022
...                   ...        ...        ...         ...   ...
6419                  2.0 -71.170045  42.351003         NaN  2022
6420                  2.0 -71.164574  42.353157         NaN  2022
6421                  1.0 -71.172400  42.352649         NaN  2022
6422                  1.0 -71.130931  42.361052         NaN  2022
6423                  2.0 -71.142615  42.362035         NaN  2022

[6424 rows x 29 columns],        sale_date living_area       category sale_price        parcel  \
0      3/31/2023       1,350  single_family    600,000  01‐01789‐000
1      5/26/2023       1,401  single_family    600,000  01‐00931‐000
2      4/28/2023       1,654  single_family    649,900  01‐01041‐000
3      5/31/2023       1,568  single_family    619,000  01‐01521‐001
4      3/31/2023       1,780  single_family    400,000  01‐04320‐000
...          ...         ...            ...        ...           ...
3156  11/27/2023       2,814     two_family  1,000,000  22‐04490‐000
3157   9/28/2023       2,325     two_family    875,000  22‐03741‐000
3158   4/14/2023       2,208     two_family    900,000  22‐03853‐000
3159   3/30/2023       2,268     two_family    875,000  22‐04322‐000
3160  12/21/2023       2,506     two_family  1,095,000  22‐03588‐000

      price_per_sf  street_no      street_name  total_room_num  bedrooms  ...  \
0           444.44        141        ASHLEY ST             8.0       2.0  ...
1           428.27        606    Bennington ST             7.0       4.0  ...
2           392.82        682    Bennington ST             7.0       3.0  ...
3           394.77       1203    Bennington ST             7.0       4.0  ...
4           224.72        172        Cowper ST             8.0       4.0  ...
...            ...        ...              ...             ...       ...  ...
3156        355.37         12      NONANTUM ST            14.0       6.0  ...
3157        376.34        135      NONANTUM ST            10.0       5.0  ...
3158        407.61         48    OAK SQUARE AV            12.0       5.0  ...
3159        385.80         96       Parsons ST             8.0       4.0  ...
3160        436.95         40  PRESENTATION RD            12.0       4.0  ...

      year_built  exterior_condition      foundation  \
0           1968                Good        Concrete
1           1900             Average           Stone
2           1900             Average           Brick
3           1910             Average           Brick
4           1910                Poor           Brick
...          ...                 ...             ...
3156        1910                Good           Stone
3157        1890                Good           Stone
3158        1890             Average           Stone
3159        1935             Average  Concrete Block
3160        1925             Average        Concrete

                               full_address                owner_name  \
0            141  ASHLEY ST BOSTON MA 02128            141 ASHLEY LLC
1     606-608 BENNINGTON ST BOSTON MA 02128        OLIVEIRA GABRIEL A
2        682  BENNINGTON ST BOSTON MA 02128         MURALLES INGRID J
3       1203  BENNINGTON ST BOSTON MA 02128     MORALES CARDONA DIEGO
4            172  COWPER ST BOSTON MA 02128           TEMPO L.J. CORP
...                                     ...                       ...
3156        12  NONANTUM ST BOSTON MA 02135           12 NONANTUM LLC
3157    135-137 NONANTUM ST BOSTON MA 02135         MCCARTHY PATRICIA
3158      48  OAK SQUARE AV BOSTON MA 02135  48 OAK SQUARE AVENUE LLC
3159       96-98 PARSONS ST BOSTON MA 02135          CHOWDHURY ISMAIL
3160  40-42 PRESENTATION RD BOSTON MA 02135     WANG/REN FAMILY TRUST

     owner_property_count          x          y properties  year
0                     1.0 -71.010458  42.389219        NaN  2023
1                     1.0 -71.017048  42.383188        NaN  2023
2                     1.0 -71.013698  42.384396        NaN  2023
3                     1.0 -70.998107  42.389161        NaN  2023
4                     1.0 -71.013738  42.382003        NaN  2023
...                   ...        ...        ...        ...   ...
3156                  1.0 -71.168387  42.350199        NaN  2023
3157                  3.0 -71.174358  42.350243        NaN  2023
3158                  1.0 -71.163746  42.351469        NaN  2023
3159                  1.0 -71.154403  42.353620        NaN  2023
3160                  1.0 -71.171281  42.354111        NaN  2023

[3161 rows x 28 columns]]

In [12]:
# merge all the dataframes
data = pd.concat(dataframes)

# save the merged dataframe
data.to_csv("merged_geocoded_enriched_merged_sales.csv", index=False)

In [16]:
data[data["x"].isna() | data["y"].isna()]

Empty DataFrame
Columns: [unit, street_name, sale_date, parcel, category, sale_price, street_no, price_per_sf, living_area, total_room_num, bedrooms, bathrooms, half_bathrooms, kitchens, fireplaces, ac_type, heat_type, interior_condition, parking_spots, year_built, exterior_condition, foundation, full_address, owner_name, owner_property_count, x, y, properties, year]
Index: []

[0 rows x 29 columns]

In [15]:
# check rows that have None for bedrooms
data[data["bedrooms"].isna() | data["living_area"].isna()][["bedrooms", "living_area"]]

      bedrooms living_area
13         NaN       1,580
15         NaN       1,145
17         NaN       1,152
161        NaN       2,488
227        NaN       2,085
...        ...         ...
1027       NaN    ,200,000
1076       NaN       4,128
1193       NaN      00,000
6089       NaN       3,435
6355       NaN      50,000

[242 rows x 2 columns]

In [19]:
# check dtype of living_area
data["living_area"] = data["living_area"].str.replace(',', '').astype(float)

In [20]:
data["living_area"]

0       1532.0
1        976.0
2       1878.0
3        850.0
4       1512.0
         ...
3156    2814.0
3157    2325.0
3158    2208.0
3159    2268.0
3160    2506.0
Name: living_area, Length: 29855, dtype: float64

In [21]:
data[data["living_area"].isna()]

Empty DataFrame
Columns: [unit, street_name, sale_date, parcel, category, sale_price, street_no, price_per_sf, living_area, total_room_num, bedrooms, bathrooms, half_bathrooms, kitchens, fireplaces, ac_type, heat_type, interior_condition, parking_spots, year_built, exterior_condition, foundation, full_address, owner_name, owner_property_count, x, y, properties, year]
Index: []

[0 rows x 29 columns]

In [23]:
# create a new df that has no None for bedrooms 
data_no_na = data[data["bedrooms"].notna()]

print(data_no_na.shape)

(29613, 29)

In [ ]:
# save the new df
data_no_na.to_csv("sales_boston_geocoded.csv", index=False)