In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
data_21 = pd.read_csv("data/parcels_21.csv")
data_24 = pd.read_csv("data/parcels_24.csv")

/var/folders/wy/50c5sv7n4wsfhhww_wwjz2tr0000gn/T/ipykernel_4566/3517134994.py:1: DtypeWarning: Columns (65) have mixed types. Specify dtype option on import or set low_memory=False.
  data_21 = pd.read_csv("data/parcels_21.csv")
/var/folders/wy/50c5sv7n4wsfhhww_wwjz2tr0000gn/T/ipykernel_4566/3517134994.py:2: DtypeWarning: Columns (20,65) have mixed types. Specify dtype option on import or set low_memory=False.
  data_24 = pd.read_csv("data/parcels_24.csv")

In [3]:
data_21.describe()

,PID,CM_ID,GIS_ID,UNIT_NUM,ZIPCODE,BLDG_SEQ,NUM_BLDGS,PTYPE,RES_FLOOR,CD_FLOOR,...,NEAR_FID_sports,NEAR_DIST_sports,NEAR_FID_subway,NEAR_DIST_subway,NEAR_tree_cnt,NEAR_DIST_university,NEAR_FID_university,LAT,LONG,NEAR_BUS_cnt
count,1.532590e+05,7.749400e+04,1.532590e+05,4.736200e+04,153259.000000,153209.000000,153209.000000,153259.000000,146118.000000,59620.000000,...,153259.000000,153259.000000,153259.000000,153259.000000,152902.000000,153259.000000,153259.000000,1.532590e+05,153259.000000,153259.000000
mean,1.183899e+09,9.543166e+08,1.183900e+09,8.767359e+03,2130.125298,1.001214,1.010371,160.482778,1.926132,3.923834,...,173.256200,4738.812328,11.691020,1206.715141,58.357759,1653.185784,23.903940,2.943105e+06,767156.573332,4.651844
std,7.078054e+08,6.974309e+08,7.078063e+08,1.858242e+06,31.917560,0.037179,0.233098,220.872197,1.252354,5.389555,...,33.763104,3085.808950,6.267789,789.432793,66.887922,1124.764924,11.715201,1.283128e+04,10584.535850,3.340180
min,1.000010e+08,1.000190e+08,1.000010e+08,0.000000e+00,2026.000000,1.000000,1.000000,13.000000,1.000000,1.000000,...,38.000000,311.107569,1.000000,0.000000,1.000000,1.349142,1.000000,2.909812e+06,744103.861021,0.000000
25%,5.025981e+08,4.008410e+08,5.025980e+08,2.000000e+00,2120.000000,1.000000,1.000000,102.000000,1.000000,2.000000,...,158.000000,2044.109427,6.000000,665.311115,26.000000,587.581092,17.000000,2.931423e+06,758933.686068,2.000000
50%,1.300151e+09,6.030820e+08,1.300151e+09,4.000000e+00,2127.000000,1.000000,1.000000,102.000000,2.000000,3.000000,...,169.000000,4156.300453,11.000000,995.981892,44.000000,1636.843977,24.000000,2.946328e+06,769850.895744,4.000000
75%,1.812670e+09,1.700924e+09,1.812670e+09,1.250000e+02,2131.000000,1.000000,1.000000,104.000000,2.500000,4.000000,...,189.000000,7457.308572,17.000000,1606.132696,70.000000,2432.072513,34.000000,2.953012e+06,775133.804839,7.000000
max,2.205668e+09,2.205665e+09,2.205668e+09,4.044054e+08,2467.000000,4.000000,47.000000,995.000000,62.000000,60.000000,...,262.000000,13656.370762,23.000000,7129.865736,1603.000000,6982.951824,43.000000,2.968499e+06,799998.265513,18.000000

In [4]:
data_21["PID"] = data_21["PID"].astype(int)
data_24["PID"] = data_24["PID"].astype(int)

In [6]:
# data_21.columns

for col in data_21.columns:
    print(col)

PID
CM_ID
GIS_ID
ST_NUM
ST_NAME
UNIT_NUM
CITY
ZIPCODE
BLDG_SEQ
NUM_BLDGS
PTYPE
LU
PTYPE_DESC
BLDG_TYPE
OWN_OCC
OWNER
MAIL_ADDRESSEE
MAIL_ADDRESS
MAIL_CITY
MAIL_STATE
MAIL_ZIPCODE
RES_FLOOR
CD_FLOOR
RES_UNITS
COM_UNITS
LAND_SF
GROSS_AREA
LIVING_AREA
LAND_VALUE
BLDG_VALUE
TOTAL_VALUE
GROSS_TAX
YR_BUILT
YR_REMODEL
STRUCTURE_CLASS
ROOF_STRUCTURE
ROOF_COVER
INT_WALL
EXT_FINISHED
INT_COND
EXT_COND
OVERALL_COND
BED_RMS
FULL_BTH
HLF_BTH
KITCHEN
TT_RMS
BDRM_COND
BTHRM_STYLE1
BTHRM_STYLE2
BTHRM_STYLE3
KITCHEN_TYPE
KITCHEN_STYLE1
KITCHEN_STYLE2
KITCHEN_STYLE3
HEAT_TYPE
HEAT_FUEL
AC_TYPE
FIRE_PLACE
PLUMBING
NUM_PARKING
PROP_VIEW
CORNER_UNIT
parcels_21_prelim_OBJECTID
MAP_PAR_ID
BPDA_Name
LU_DESC
Address
Shape_Length
Shape_Area
NEAR_FID_Community_Garden
NEAR_DIST_Community_Garden
NEAR_FID_Cemetries_Burying
NEAR_DIST_Cemetries_Burying
NEAR_FID_Parks_Playground
NEAR_DIST_Parks_Playground
NEAR_FID_Parkways_Beaches
NEAR_DIST_Parkways_Beaches
NEAR_FID_Mall_Squares
NEAR_DIST_Mall_Squares
NEAR_FID_Farmers_Market
NEAR_DIST_Farmers_Market
NEAR_FID_Music_Venue
NEAR_DIST_Music_Venue
NEAR_FID_Landmark
NEAR_DIST_Landmark
NEAR_FID_library
NEAR_DIST_library
RESTAURANT_CNT
NOISE_INCIDENT_CNT
NEAR_DIST_health
NEAR_FID_safety
NEAR_DIST_safety
NEAR_School_cnt
NEAR_DIST_security
NEAR_FID_security
NEAR_FID_sports
NEAR_DIST_sports
NEAR_FID_subway
NEAR_DIST_subway
NEAR_tree_cnt
NEAR_DIST_university
NEAR_FID_university
LAT
LONG
NEAR_BUS_cnt

In [11]:
data_21["LU"].unique()

# drop the LU of "A"
data_21 = data_21[data_21["LU"] != "A"]
data_21["LU"].unique()

array(['R3', 'R2', 'CD', 'R1', 'R4', 'RC', 'RL'], dtype=object)

In [8]:
data_21["TOTAL_VALUE"]
# Drop rows with empty building values
data_21 = data_21.dropna(subset=['TOTAL_VALUE'])

In [14]:
# check the bedroom nan portion
data_21["BED_RMS"].isnull().sum() / len(data_21)

# drop the bedroom nan
data_21 = data_21.dropna(subset=['BED_RMS'])

# check the bedroom nan portion
data_21["BED_RMS"].isnull().sum() / len(data_21)

np.float64(0.0)

In [15]:
# count null values
data_21["TOTAL_VALUE"].isnull().sum()

np.int64(0)

In [16]:
intersecting_ids = set(data_21["PID"]) & set(data_24["PID"])

print(data_21["PID"].nunique())
print(data_24["PID"].nunique())
print(len(intersecting_ids))

125671
144021
120516

In [17]:
# we will get the bld_value of the 2024 data and add column to the data
# First filter data_24 to get matching PIDs, then map values using PID as key
data = data_21[data_21["PID"].isin(intersecting_ids)].copy()  # Use copy() to avoid SettingWithCopyWarning

# Create a mapping dictionary from data_24
value_map = data_24[data_24["PID"].isin(intersecting_ids)].set_index("PID")["TOTAL_VALUE"].to_dict()


inflation_2021 = 0.0470  # 4.70%
inflation_2022 = 0.0800  # 8.00%
inflation_2023 = 0.0412  # 4.12%



# Map the values using the dictionary
data["TOTAL_VALUE_2024"] = data["PID"].map(value_map)

In [18]:
# drop bldg value that are 0
data = data[data["TOTAL_VALUE"] != 0]
data = data[data["TOTAL_VALUE_2024"] != 0]

In [19]:
cumulative_inflation = (1 + inflation_2021) * (1 + inflation_2022) * (1 + inflation_2023)

data["TOTAL_VALUE_2024_2021_DOLLARS"] = data["TOTAL_VALUE_2024"] / cumulative_inflation

data["NOMINAL_INCREASE"] = data["TOTAL_VALUE_2024"] - data["TOTAL_VALUE"] 
data["REAL_INCREASE"] = data["TOTAL_VALUE_2024_2021_DOLLARS"] - data["TOTAL_VALUE"]

data["NOMINAL_INCREASE_PERCENT"] = (data["NOMINAL_INCREASE"] / data["TOTAL_VALUE"]) * 100
data["REAL_INCREASE_PERCENT"] = (data["REAL_INCREASE"] / data["TOTAL_VALUE"]) * 100

print(f"Cumulative inflation 2021-2024: {(cumulative_inflation - 1) * 100:.2f}%")
print("\nValue Change Summary:")
summary = data[["NOMINAL_INCREASE_PERCENT", "REAL_INCREASE_PERCENT"]].describe()
print(summary)

Cumulative inflation 2021-2024: 17.73%

Value Change Summary:
       NOMINAL_INCREASE_PERCENT  REAL_INCREASE_PERCENT
count             119989.000000          119989.000000
mean                  13.881759              -3.272588
std                   11.606186               9.857912
min                  -81.979784             -84.694222
25%                    7.105865              -9.027808
50%                   12.500000              -4.446208
75%                   19.429669               1.439624
max                  623.540856             514.551754

In [20]:
# Filter for properties with positive real value increases
positive_real_increases = data[data["REAL_INCREASE"] >= 0]

print("\nProperties with Real Value Increases:")
print(f"Count: {len(positive_real_increases)} ({(len(positive_real_increases)/len(data))*100:.1f}% of properties)")
print("\nSummary of Real Increases for Properties with Gains:")
print(positive_real_increases["REAL_INCREASE_PERCENT"].describe())

Properties with Real Value Increases:
Count: 37470 (31.2% of properties)

Summary of Real Increases for Properties with Gains:
count    37470.000000
mean         6.046534
std         11.394141
min          0.000265
25%          2.096289
50%          4.250845
75%          6.941298
max        514.551754
Name: REAL_INCREASE_PERCENT, dtype: float64

In [21]:
# count null building values
print(data["TOTAL_VALUE"].isna().sum())  
print(data["TOTAL_VALUE_2024"].isna().sum())

0
0

In [22]:
negative_real_increases = data[data["REAL_INCREASE"] < 0]

print("\nProperties with Real Value Increases:")
print(f"Count: {len(negative_real_increases)} ({(len(negative_real_increases)/len(data))*100:.1f}% of properties)")
print("\nSummary of Real Increases for Properties with Gains:")
print(negative_real_increases["REAL_INCREASE_PERCENT"].describe())

Properties with Real Value Increases:
Count: 82519 (68.8% of properties)

Summary of Real Increases for Properties with Gains:
count    82519.000000
mean        -7.504189
std          5.001315
min        -84.694222
25%         -9.893416
50%         -8.018106
75%         -3.734238
max         -0.000098
Name: REAL_INCREASE_PERCENT, dtype: float64

In [23]:
# sort the negative real increases by the absolute value of the real increase
negative_real_increases = negative_real_increases.sort_values(by="REAL_INCREASE_PERCENT", ascending=True)
# print the top 10
negative_real_increases[["TOTAL_VALUE", "TOTAL_VALUE_2024", "REAL_INCREASE", "REAL_INCREASE_PERCENT", "PID", "LU"]].head(10)
# print the bottom 10
# print(negative_real_increases.tail(10))

,TOTAL_VALUE,TOTAL_VALUE_2024,REAL_INCREASE,REAL_INCREASE_PERCENT,PID,LU
59631,2295200.0,413600.0,-1.943902e+06,-84.694222,801549004,CD
94705,1360200.0,284000.0,-1.118980e+06,-82.265826,1701569000,R3
84364,1064300.0,231524.0,-8.676511e+05,-81.523174,1501266000,R3
152278,879600.0,197800.0,-7.115952e+05,-80.899864,602642138,CD
43541,907900.0,220700.0,-7.204447e+05,-79.352869,600030016,CD
43537,890600.0,220700.0,-7.031447e+05,-78.951796,600030008,CD
152308,1039600.0,263800.0,-8.155370e+05,-78.447189,602642168,CD
45463,809800.0,211800.0,-6.299041e+05,-77.785140,601153014,CD
7740,870300.0,231969.0,-6.732732e+05,-77.361045,106807020,R3
45466,761600.0,213300.0,-5.804300e+05,-76.211924,601153020,CD

In [24]:
# save the data
data.to_csv("data/parcels_intersecting.csv", index=False)

In [18]:
# Cehck any null among x_columns
X_columns = ["NEAR_DIST_Community_Garden", "NEAR_DIST_Cemetries_Burying", \
    "NEAR_DIST_Parks_Playground", "NEAR_DIST_Parkways_Beaches", \
    "NEAR_DIST_Mall_Squares", "NEAR_DIST_Farmers_Market", \
    "NEAR_DIST_Music_Venue", "NEAR_DIST_Landmark", \
    "NEAR_DIST_library", "MEAN_LTS_New",
    "NOISE_INCIDENT_CNT", "RESTAURANT_CNT"]

X_columns_null = [col for col in X_columns if data[col].isnull().any()]
print(X_columns_null)

# fill in the null values with 0
data[X_columns_null] = data[X_columns_null].fillna(0)

['NOISE_INCIDENT_CNT', 'RESTAURANT_CNT']

In [27]:
from xgboost import XGBRegressor
from sklearn.model_selection import cross_val_score, KFold

# create a model to predict the real increase percent
Y = data["REAL_INCREASE_PERCENT"]
X = data[["BED_RMS", "NEAR_BUS_cnt", "NEAR_DIST_Farmers_Market", "NEAR_DIST_Music_Venue",
          "NEAR_DIST_health", "LAT", "LONG", \
          "NEAR_DIST_Community_Garden", "NEAR_DIST_Cemetries_Burying", \
        "NEAR_DIST_Parks_Playground", "NEAR_DIST_Parkways_Beaches", \
        "NEAR_DIST_Mall_Squares",  "NEAR_DIST_Landmark", "RESTAURANT_CNT", \
        "NEAR_DIST_library", "LIVING_AREA",\
        "NEAR_DIST_safety", "NEAR_School_cnt", "NEAR_DIST_security", "NEAR_DIST_sports", "NEAR_DIST_subway", \
        "NEAR_tree_cnt", "NEAR_DIST_university"]]

# Initialize model with same parameters
model = XGBRegressor(max_depth=11, n_estimators=2031, learning_rate=0.013,\
    subsample=0.72, colsample_bytree=0.6, gamma=0.1, reg_lambda=1.95, reg_alpha=2.1,
    min_child_weight=11)

# Perform 5-fold cross validation
kf = KFold(n_splits=5, shuffle=True, random_state=42)
cv_scores = cross_val_score(model, X, Y, cv=kf, scoring='r2')

# Print cross validation results
print("Cross Validation Scores:")
for i, score in enumerate(cv_scores, 1):
    print(f"Fold {i}: {score:.4f}")
print(f"\nMean CV Score: {cv_scores.mean():.4f}")
print(f"Standard Deviation: {cv_scores.std():.4f}")

# Fit the model on the full dataset to get feature importances
model.fit(X, Y)

# Print feature importances
print("\nFeature importances:")
print(model.feature_importances_)

Cross Validation Scores:
Fold 1: 0.4213
Fold 2: 0.3724
Fold 3: 0.4707
Fold 4: 0.3523
Fold 5: 0.3926

Mean CV Score: 0.4019
Standard Deviation: 0.0413

Feature importances:
[0.0808008  0.01925751 0.02337503 0.04098584 0.02620329 0.21842602
 0.045779   0.02559805 0.02247193 0.02237401 0.02471104 0.02701868
 0.03527138 0.03209716 0.0259064  0.02982046 0.022714   0.02783009
 0.02563998 0.13620485 0.02841487 0.02262274 0.03647692]

In [ ]:
# Get feature importances from XGBoost model
importances = model.feature_importances_

# Create dictionary mapping features to their importance scores
importance_dict = dict(zip(X.columns, importances))

# Print feature importances in order
print("Feature Importances:")
for feature, importance in sorted(importance_dict.items(), key=lambda x: x[1], reverse=True):
    print(f"{feature}: {importance:.4f}")

Feature Importances:
LAT: 0.2184
NEAR_DIST_sports: 0.1362
BED_RMS: 0.0808
LONG: 0.0458
NEAR_DIST_Music_Venue: 0.0410
NEAR_DIST_university: 0.0365
NEAR_DIST_Landmark: 0.0353
RESTAURANT_CNT: 0.0321
LIVING_AREA: 0.0298
NEAR_DIST_subway: 0.0284
NEAR_School_cnt: 0.0278
NEAR_DIST_Mall_Squares: 0.0270
NEAR_DIST_health: 0.0262
NEAR_DIST_library: 0.0259
NEAR_DIST_security: 0.0256
NEAR_DIST_Community_Garden: 0.0256
NEAR_DIST_Parkways_Beaches: 0.0247
NEAR_DIST_Farmers_Market: 0.0234
NEAR_DIST_safety: 0.0227
NEAR_tree_cnt: 0.0226
NEAR_DIST_Cemetries_Burying: 0.0225
NEAR_DIST_Parks_Playground: 0.0224
NEAR_BUS_cnt: 0.0193

In [ ]:
import shap
import matplotlib.pyplot as plt

# Create a SHAP explainer
explainer = shap.Explainer(model, X)

# Calculate SHAP values
shap_values = explainer(X)

# Create SHAP summary plot
shap.summary_plot(shap_values, X)  # You can use "bar" for bar plot

/Users/hunkim/Github/boston_realestate/.venv/lib/python3.11/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm